<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<div class="card">
  <h1><%= @team.name %></h1>

  <p>League: <%= @team.league %></p>
  <% unless @team.players.empty? %>
    <h2>Players</h2>
    <p><%= link_to "Load Players", team_players_path(@team), :class => "load_players" %></p>
    <div class="players">
      <ul>
      </ul>
    </div>
    <br>
    <% if @most_played != '' %>
      <p> Most Played Player: <%= @most_played.name %> </p>
    <% end %>
    <% if @best_player != '' %>
      <p> Best Player: <%= @best_player.name %> </p>
    <% end %>
  <% end %>
  <% unless @team.games.empty? %>
    <h2>Games</h2>
    <ol>
      <% @team.games.each do |game| %>
        <% if game.date != '' %>
        <p><a href="/teams/<%= @team.id %>/games/<%= game.id %>"><%= game.date %></a> Opponent: <%= game.opponent %></p>
        <% end %>
      <% end %>
    </ol><br>
  <% end %>
  <a href="/teams">Back</a> |
  <a href="/teams/<%= @team.id %>/edit">Edit</a> |
  <a href="/teams/<%= @team.id %>/destroy">Delete</a>
</div>
