<h1>Team: <%= @player.team.name %></h1>
<h2>Player Name: <%= @player.name %></h2>
<h3>Player Rating: <%= @player_game.player_rating %></h2>

<a href="/teams/<%= @team.id %>/players/<%= @player.id %>">Show player </a>
