<% if !@team.games.empty? %>
  <ul>
    <% @team.games.each do |game| %>
      <li> <%= game.date %> |<%= game.opponent %> |<%= game.score_for %> |<%= game.score_against %> |<%= game.home_away %> </li>
    <% end %>
  </ul>
<% end %>
